<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<form th:action="@{/categories}" method="post" th:object="${newCategory}">
    <input type="text" name="parentId" th:field="*{parentId}">
    <input type="text" name="name" th:field="*{name}">
    <input type="submit" value="submit">
</form>

<h1>Category list</h1>
<ul th:each="category: ${categories}">
    <li><span th:text="${category.id} + '. ' + ${category.name}"></span></li>
</ul>
</body>
</html>